.container-fluid {
    overflow: hide;
    height: 80vh;
    width: 100vw
}

.col-12 {
    padding-left: 0px;
}

.game-background {
    background-image: url('../images/room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
}

.score_help {
    text-align: center;
    font-size: 25px;
    background-color: #eaeaea;
}

.hen {
    position: absolute;
    background-image: url('../images/chick.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
    top: 13%;
    max-width: 280px;
    height: 20%;
}

.egg {
    position: absolute;
    background-image: url('../images/egg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 19%;
    height: 13%;
    width: 12%;
    max-width: 100px;
    z-index: 99;
}



.sunnysideup {
    /* display: none; */
    position: absolute;
    background-image: url('../images/sunnysideup.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 3%;
    height: 11%;
    max-width: 220px;
    z-index: 11;
}


#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.445);
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 143px;
    width: 232px;
    position: absolute;
    bottom: 35px;
    background-image: url('../images/basket.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: fuchsia;
    color: white;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}